@import "settings";
@import "bootstrap.scss";
@import "components/mixins";
@import "components/reset";
@import "components/help";
@import "components/layout";
@import "components/nav-bar";
@import "components/button";
@import "components/btn-group-row";
@import "components/card";
@import "components/grid-view";
@import "components/list";
@import "components/list-inset";
@import "components/list-indent";
@import "components/list-messages";
@import "components/item-input";
@import "components/article";
@import "components/tab";

//@import "components/center-popup";

//-----------------------------------------------
.item-input .addon input ~ .checked-icon {
  display: none;
}

.item-input .addon input ~ .no-checked-icon {
  display: block;
}

.item-input .addon input:checked ~ .checked-icon {
  display: block;
}

.item-input .addon input:checked ~ .no-checked-icon {
  display: none;
}