@mixin btn-group($name, $brand-color) {

  .btn-group-#{$name} .btn {
    border-top: 1px solid $brand-color;
    border-right: 1px solid $brand-color;
    border-bottom: 1px solid $brand-color;
    background-color: #fff;
    color: $brand-color !important;
  }

  .btn-group-#{$name} .btn:first-child {
    border-left: 1px solid $brand-color;
  }

  .btn-group-#{$name} .btn.active {
    background-color: $brand-color;
    color: #FFF !important;
  }
}