.nav-btn-combine {
  padding: .5em;
}

.btn-combine {
}

.btn-combine > .btn {
  float: left;
  //  @include border-radius(0);
  border-width: 1px;
}

.btn-combine > .btn:first-child {
  border-left-width: 1px;
  @include border-left-radius($border-radius-base);
  @include border-right-radius(0);
}

.btn-combine > .btn:last-child {
  @include border-left-radius(0);
  @include border-right-radius($border-radius-base);
}

.btn-combine-justified {
  display: table;
  width: 100%;
}

.btn-combine-justified > .btn {
  display: table-cell;
  float: none;
}

.btn-combine-lg .btn {
  padding: 11px 13px;
}

.btn-combine-sm .btn {
  padding: 5px 7px;
  font-size: 85%;
}

.btn-combine-xs .btn {
  padding: 2px 3px;
  font-size: 75%;
}

@include btn-combine('primary', $brand-primary);
