/*
    使用说明:
    <label class="iso-checkbox"><input type="checkbox" checked="checked"><i></i></label>
*/
$iso-checkbox-height: 22px;
$iso-checkbox-color: $brand-success;

.iso-checkbox {
  /* Blue edition */
  margin: 0;
  height: $iso-checkbox-height;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

.iso-checkbox input {
  display: none;
}

.iso-checkbox i {
  display: inline-block;
  cursor: pointer;
  padding-right: 20px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  border-radius: 20px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
  height: $iso-checkbox-height;
}

.iso-checkbox i:before {
  display: block;
  content: '';
  width: $iso-checkbox-height - 2;
  height: $iso-checkbox-height - 2;
  border-radius: $iso-checkbox-height - 2;
  margin: 1px 1px 1px 1px;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.iso-checkbox :checked + i {
  padding-right: 0;
  padding-left: 20px;
  background-color: $iso-checkbox-color;
}

@mixin iso-checkbox($name, $color) {
  .iso-checkbox-#{$name} :checked + i {
    background-color: $color;
  }
}

@include iso-checkbox(primary, $brand-primary);
@include iso-checkbox(danger, $brand-danger);
@include iso-checkbox(success, $brand-success);
@include iso-checkbox(info, $brand-info);
@include iso-checkbox(warning, $brand-warning);