.list-view {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-view .list-view-item {
  padding: $padding-base-vertical $padding-base-horizontal;
  border-color: $border-color-base;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
  margin-top: -1px;
  background-color: #fff;
  display: block;
}

.list-view-bordered .list-view-item {
  border-width: 1px;
}

.list-view-indent .list-view-item:not(:last-child) {
  border-top-width: 0;
  border-bottom-width: 0;
  position: relative;
  margin-top: 0;
}

.list-view-indent .list-view-item:before {
  content: '';
  display: block;
  position: absolute;
  left: 14px;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid $border-color-base;
}

.list-view-indent .list-view-item:last-child:before {
  display: none;
}

.list-view-item.has-arrow {
  padding-right: ceil($padding-base-horizontal + $font-size-base ) ;
}
