.radio input[type='radio'] {
  display: none;
}

.radio input[type='radio'] + i {
  display: block;
  height: 1em;
  width: 1em;
  border: 1px solid #ddd;
  @include border-left-radius(50%);
  @include border-right-radius(50%);
}

.radio input[type='radio']:checked + i {
  border: 1px solid $brand-success;
  position: relative;
  overflow: hidden;
  zoom: 1;
}

.radio input[type='radio']:checked + i:after {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  @include border-left-radius(50%);
  @include border-right-radius(50%);
  background-color: $brand-success;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30%;
  margin-left: -30%;
  @include rotate(45deg);
}

@mixin radio($name, $color) {

  .radio-#{$name} input[type='radio']:checked + i {
    border: 1px solid $brand-success;
    position: relative;
    overflow: hidden;
    zoom: 1;
  }
  .radio-#{$name} input[type='radio']:checked + i:after {
    border-color: $color;
  }
}


@include radio(primary, $brand-primary);
@include radio(danger, $brand-danger);
@include radio(success, $brand-success);
@include radio(info, $brand-info);
@include radio(warning, $brand-warning);