.card {
  margin: $padding-base-vertical $padding-base-horizontal;
  border-radius: $border-radius-base;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

//.card + .card {
//  margin-top: 7px;
//}