
.list-inset {
  overflow: hidden;
  margin: $padding-base-vertical $padding-base-horizontal;
  border-radius: $border-radius-base;
  background-color: #fff;
  border: 1px solid $border-color-base;
}
