//list-indent
.list-indent,
.list-indent-both {
  .item {
    border: 0;
    position: relative;
  }
  .item:after {
    content: '';
    position: absolute;
    left: $padding-base-horizontal;
    right: 0;
    top: 0;
    border-top: 1px solid $border-color-base;
  }
  .item-title + .item:after,
  .item:first-child:after {
    display: none;
  }
}

.list-indent-both .item:after {
  right: $padding-base-horizontal;
}
