.nav-bar {
  display: table;
  width: 100%;
  @include user-select(none);

  & > .item {
    display: table-cell;
    width: 1%;
    text-decoration: none;
    color: $text-color;
    vertical-align: middle;
    text-align: center;
    padding: 10px $padding-base-horizontal;
    white-space: nowrap;
    line-height: 1;
    cursor: pointer;
    @include box-sizing(border-box);

  }

  & > .item.active {
    color: $brand-primary;
  }

}

@mixin nav($color) {

  & > .item.active,
  & > a.item:active {
    background-color: darken($color, 10%);

  }
  & {
    background-color: $color;
  }

  & > .item {
    color: #fff !important;
  }

  & > .item.title {
    font-size: 16px;
    margin: 0;
    color: #fff;
    width: 100%;

  }
}

.nav-bar-primary {
  @include nav($brand-primary);
}

.nav-bar-success {
  @include nav($brand-success);
}

.nav-bar-danger {
  @include nav($brand-danger);
}

.nav-bar-warning {
  @include nav($brand-warning);
}

.nav-bar-info {
  @include nav($brand-info);
}